<form method="POST" action="/scan/">
    <label for="name">doc name
        <input name="name" id="name">
    </label>
    
    <label for="desc">doc description
        <textarea name="desc" id="desc"></textarea>
    </label>

    <input type="submit"/>
</form>
<a href="/scan/">Scan Pages</a>