<!doctype html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/stylesheets/style.css"/>
        <link rel="stylesheet" href="/stylesheets/chunkfive-fontface.css"/>
    </head>
    <body>
        <header>
            <%= title %>
        </header>
        
        <section id="wrapper">
            <%- body %>
        </section>
        <footer>

        </footer>
    </body>
</html>